<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Link View Page</a>-->
<!--</nav>-->

<div>
    <div class="center" style="padding-top: 2em;">
        <img class="mb-4" src="static/icon.png"
             alt="" width="72" height="57">
    </div>
    <div style="padding-top:1em; padding-bottom: 1em;">
        <h3>Create New Link</h3>
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
                {{#if newURL}}
                    <div style="padding-top:0.5em">
                        <a href="{{newHost}}">{{newHost}}</a> <br/> <b>&nbsp;&nbsp;-></b> <br/><a
                            href="{{newURL}}">{{newURL}}</a>
                    </div>
                {{/if}}
            </div>
        {{/if}}

        <form method="POST" action="createLink">
            <div class="form-group">
                <label for="name"><b>Name</b> (e.g., guestTalk or social/gameLink). <br/>* will be generated (e.g.,
                    foo/* -> foo/a23s). <br/>If blank, a random name will be generated.</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Short Name">
            </div>
            <div class="form-group">
                <label for="url"><b>URL</b> (must start with http:// or https://).</label>
                <input name="url" type="text" class="form-control" id="url" placeholder="Enter URL">
            </div>
            <button type="submit" class="btn btn-primary">Create Link</button>
        </form>
    </div>

    <div style="padding-top:1em; padding-bottom: 1em;">
        <h3>Existing Links</h3>
        <table style="width: 100%;">
            <thead>
            <tr>
                <th>Delete</th>
                <th>Name</th>
                <th>URL</th>
                <th>Owner</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            {{#each linkTable}}
                <tr>
                    <td><a href="removeLink/{{name}}">DEL</a></td>
                    <td><a href="{{url}}">{{name}}</a></td>
                    <td><a href="{{url}}">{{url}}</a></td>
                    <td>{{user}}</td>
                    <td>{{created}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
